
{% for i in formation %}
{{i.ref}} 
<br>
{{i.Titre}} 
<br>
{{i.Description}} 
<br>
{{i.nb_participants}} 
<hr>
{% endfor %}

{% for i in formation %}
{{i.Titre |upper}}
{% endfor %}

<hr>

nombre des formations = {{formation | length}}

<hr>

{% for i in formation %}
{% set x = i.Description %}
{% if "formation theorique" == x %}
{{i.Titre}}
{% endif %}
{% endfor %}

<hr>

{% set max = 0 %}
{% for i in formation %}
{% if max < i.nb_participants %}
{% set max = i.nb_participants %}
{% endif %}
{% endfor %}
le nb max des participants est {{max}}

<hr>

{% set sum = 0 %}
{% for i in formation %}
{% set sum = sum + i.nb_participants %}
{% endfor %}
le nb total des participants est {{sum}}

<hr>

{% if formation is empty %}
empty
{% else %}
not empty
{% endif %}

<hr>


<table border = "2">

<tr>
<td>ref </td>
<td>Titre </td>
<td> Description </td>
<td> nb_participants </td>
<td> Action </td>
</tr>

{% for i in formation %}
<tr>
<td> {{i.ref}}</td>
<td> {{i.Titre}}</td>
<td> {{i.Description}}</td>
<td> {{i.nb_participants}} </td>
<td> 
{% if i.nb_participants > 0 %}
<input type="submit" value="inscription">
{% endif %}
</td>
</tr>
{% endfor %}

</table>

<hr>


<table border = "2">

<tr>
<td>ref </td>
<td>Titre </td>
<td> Description </td>
<td> nb_participants </td>
<td> Action </td>
</tr>

{% for i in formation %}
<tr>
<td> {{i.ref}}</td>
<td> {{i.Titre}}</td>
<td> {{i.Description}}</td>
<td> {{i.nb_participants}} </td>
<td> 
{% if i.nb_participants == 0 %}
<a href="{{path('getname',{'nom': i.Titre })}}"> <input type="submit" value="participer"> </a>
{% endif %}
</td>
</tr>
{% endfor %}

</table>

